body {
  background: radial-gradient(circle, #F9D0E6, #c377bb);
}

.toolbar {
  background: #f2efe8;
  width: 60px;
  height: 50vh;
  cursor: pointer;
  border: 4px solid #7b1daa;
  margin: 2em;
  border-radius: 5px;
}

.pen {
  font-size: 24px;
  padding: 18px;  
}

.icon-container:hover {
  background-color: purple;
}


.pen:active {
  font-size: 16px;
}